<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Colorgy V2" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag  "application" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
    <div class="black-mask"></div>
    <%= partial "views/partials/navbar" %>
    <div class="wrapper">
      <%= yield %>
    </div>
    <div class="issue-response-btn">
      <a class="typeform-share link" href="https://lucas51.typeform.com/to/ZO427w" data-mode="2" target="_blank"><button style="background-color: transparent;border: 0;font-size: 16px !important;"><i class="mdi-action-help"></i>有問題嗎？回報給我們！</button></a>
          <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large red">
        <i class="material-icons">mode_edit</i>
      </a>
      <ul>
        <li><a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="material-icons">attach_file</i></a></li>
      </ul>
    </div>
    <footer>
      <div class="footer-inner">
        <div class="footer-menu">
          <ul>
            <li><a href="#">關於我們</a></li>
            <li><a href="#">聯絡我們</a></li>
            <li><a href="#">發落我們</a></li>
          </ul>
        </div>
        <div class="company-rights">
          <p><small><a href="#">網站原始碼 ＠Github</a> - © Colorgy 2015 - 米斯克科技股份有限公司 提供</small></p>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag  "main" %>
    <script>
      function responsiveTableHeightFix(){
        var windowWidth = window.innerWidth;
        if( windowWidth < 992 ){
          $('.responsive-table tbody tr:nth-child(1)').each(function(){
            var tdCounter = $(this).children('td').length;
            var tdHeight = $(this).children('td').outerHeight();
            for (var i = 1 ; i >= tdCounter ; i++) {
              $(this).parent().siblings('thead').children('th:nth-child('+ i +')').css({
                height: tdHeight + 'px'
              })
            };
          })
        }
        else{
          retrun;
        }
      }
    </script>
  </body>
</html>
