<div class="container-fluid">
	<div class="row">
		<div class="content-strip primary">
			<div class="content-strip-inner">
				<h4 class="strip-title">使用流程</h4>
				<p class="strip-description"></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m2 hide-on-small-only pin-menu-container" style="padding-left: 8px;">
			<ul class="section table-of-contents pin-menu" id="pin-menu">
				<li><a href="#leader">主揪介紹</a></li>
				<li><a href="#shopping">購物流程</a></li>
				<li><a href="#shipping">配送說明</a></li>
				<li><a href="#QA">常見問題</a></li>
				<li><a href="#supermarket-payment">超商付款詳情</a></li>
			</ul>
		</div>
		<div class="col s12 m10">
			<div class="row row-inner user-guide scrollspy" id="leader">
				<div class="col s12 m4">
					<div class="icon odd">
						<%= image_tag ('man1.png') %>
					</div>
					<div class="icon-title">
						主揪介紹
					</div>
					<div class="icon-description">
						完整服務幫大家訂書的你
					</div>
				</div>
				<div class="col s12 m8">
					<div class="info">
						<h5>什麼是主揪？</h5>
						<p>揪團負責人，負責收書、發書和為跟團的同學服務！</p>
						<p>
							願意當主揪的人，可以獲得100元的折扣，Colorgy謝謝您為台灣整體訂書環境的提升做出貢獻。（<a href="#">主揪義務說明</a>）
						</p>
					</div>
					<div class="steps">
						<div class="step">
							<div class="col m8 s12">
								<span class="under-line-title">1. 成為主揪</span>
								<div class="step-description">
									點選開始揪團 ，按照指示，選出課程所需用書，成為當課的訂購書籍負責人，開起ㄧ波團購！
								</div>
							</div>
							<div style="clear: both;"></div>
						</div>
						<div class="step">
							<div class="col m8 s12">
								<span class="under-line-title">2. 選擇時間地點</span>
								<div class="step-description">
									決定此團的截止跟團時間、寄送宅即便的地點，並填寫你想以怎樣的方式讓跟團的同學們拿到書。
								</div>
							</div>
							<div style="clear: both;"></div>
						</div>
						<div class="step">
							<div class="col m8 s12">
								<span class="under-line-title">3. 完成開團</span>
								<div class="step-description">
									開團成功後，可以至主揪介面隨時瞭解團訂狀況（要是訂購人數沒有滿5人，則會流團喔～）
								</div>
							</div>
							<div style="clear: both;"></div>
						</div>
						<div class="step">
							<div class="col m8 s12">
								<span class="under-line-title">4. 發送領書訊息</span>
								<div class="step-description">
									領到書後，請至主揪介面傳送通知給同學，會同步更新同學的領書狀況！
								</div>
							</div>
							<div style="clear: both;"></div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row row-inner user-guide scrollspy" id="shopping">
				<div class="col m4 s12">
					<div class="icon odd">
						<%= image_tag ('man2.png') %>
					</div>
					<div class="icon-title">
						購物流程
					</div>
					<div class="icon-description">
						給你最方便的買書體驗
					</div>
				</div>
				<div class="col m8 s12">
					<div class="info" style="display:none;">
						<h5>什麼是主揪？</h5>
						<p>揪團負責人，負責收書、發書和為跟團的同學服務！</p>
						<p>
							願意當主揪的人，可以獲得100元的折扣，Colorgy謝謝您為台灣整體訂書環境的提升做出貢獻。（<a href="#">主揪義務說明</a>）
						</p>
					</div>
					<div class="steps">
						<div class="step">
							<div class="col m8 s12">
								<span class="under-line-title">1. 放入購物書包</span>
								<div class="step-description">
									將要購買的教科書，加入購物書包 ( 記得要確認是否為正確的團喔 ! )
								</div>
							</div>
							<div style="clear: both;"></div>
						</div>
						<div class="step">
							<div class="col m8 s12">
								<span class="under-line-title">2. 前往結帳</span>
								<div class="step-description">
									進入購物書包，選擇付款方式和發票種類 ( <a href="#supermarket-payment">超商付款詳情說明</a> )
								</div>
							</div>
							<div style="clear: both;"></div>
						</div>
						<div class="step">
							<div class="col m8 s12">
								<span class="under-line-title">3. 完成訂購</span>
								<div class="step-description">
									送出訂單後，可以至<a href="/ColorgyV2-frontend/orders.html">訂單查詢</a>隨時追蹤書籍況
								</div>
							</div>
							<div style="clear: both;"></div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row row-inner user-guide scrollspy" id="shipping">
				<div class="col m4 s12">
					<div class="icon odd">
						<%= image_tag ('man3.png') %>
					</div>
					<div class="icon-title">
						配送說明
					</div>
					<div class="icon-description">
						結合傳統班代制度優點
					</div>
				</div>
				<div class="col m8 s12">
					<div class="info" style="display:none;">
						<h5>什麼是主揪？</h5>
						<p>揪團負責人，負責收書、發書和為跟團的同學服務！</p>
						<p>
							願意當主揪的人，可以獲得100元的折扣，Colorgy謝謝您為台灣整體訂書環境的提升做出貢獻。（<a href="#">主揪義務說明</a>）
						</p>
					</div>
					<div class="steps">
						<div class="step">
							<div class="col m8 s12">
								<span class="under-line-title">1. 主揪選定地點</span>
								<div class="step-description">
									你所訂購的書籍，將會以主揪決定的地點做為宅即便配送的目的地。確定團購成功後，書商將在3-5天內送出書籍！
								</div>
							</div>
							<div style="clear: both;"></div>
						</div>
						<div class="step">
							<div class="col m8 s12">
								<span class="under-line-title">2. 關注訂單查詢</span>
								<div class="step-description">
									當書到達主揪手中，訂單查詢將同步顯示書的狀況，也可在<a href="/ColorgyV2-frontend/orders.html">訂單查詢</a>上看見主揪的發書方式！
								</div>
							</div>
							<div style="clear: both;"></div>
						</div>
						<div class="step">
							<div class="col m8 s12">
								<span class="under-line-title">3. 主揪發書</span>
								<div class="step-description">
									不管是系會領書、上課發書，或是其他的領書位置～主揪都會將書籍送至同學的手中！
								</div>
							</div>
							<div style="clear: both;"></div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row row-inner user-guide scrollspy" id="QA">
				<div style="padding: 0 24px;">
					<h5 class="under-line-title" style="margin-bottom: 24px;">常見問題</h5>
				</div>
				<div class="qa-field" style="padding: 0 32px; max-width: 800px;">
					<div class="collapse-field-with-title">
						<div class="title">
							問題主題打在這邊
							<div class="trigger"></div>
						</div>
						<div class="content">
							123456789
						</div>
					</div>
					<div class="collapse-field-with-title">
						<div class="title">
							問題主題打在這邊
							<div class="trigger"></div>
						</div>
						<div class="content">
							123456789
						</div>
					</div>
					<div class="collapse-field-with-title">
						<div class="title">
							問題主題打在這邊
							<div class="trigger"></div>
						</div>
						<div class="content">
							123456789
						</div>
					</div>
					<div class="collapse-field-with-title">
						<div class="title">
							問題主題打在這邊
							<div class="trigger"></div>
						</div>
						<div class="content">
							123456789
						</div>
					</div>
				</div>
			</div>
			<div class="row row-inner user-guide scrollspy" id="supermarket-payment">
				<div style="padding: 0 24px;">
					<h5 class="under-line-title" style="margin-bottom: 24px;">超商付款流程</h5>
				</div>
				<div class="col m3 s6">
					<div class="supermarket-payment-info-item">
						<a href="#">
							<%= image_tag('711-logo.png') %>
							<button class="large-btn">查看流程</button>
						</a>
					</div>
				</div>
				<div class="col m3 s6">
					<div class="supermarket-payment-info-item">
						<a href="#">
							<%= image_tag('family-logo.png') %>
							<button class="large-btn">查看流程</button>
						</a>
					</div>
				</div>
				<div class="col m3 s6">
					<div class="supermarket-payment-info-item">
						<a href="#">
							<%= image_tag('hi-life-logo.png') %>
							<button class="large-btn">查看流程</button>
						</a>
					</div>
				</div>
				<div class="col m3 s6">
					<div class="supermarket-payment-info-item">
						<a href="#">
							<%= image_tag('ok-logo.png') %>
							<button class="large-btn">查看流程</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
  $(document).ready(function(){
    $('.scrollspy').scrollSpy();
  });
  $(window).scroll(function(){
  	if($(window).scrollTop() > $('.pin-menu-container').offset().top - 100){
  		$('#pin-menu').addClass('fixed-menu');
  	}
  	else{
  		$('#pin-menu').removeClass('fixed-menu');
  	}
  })
</script>
